.container {
  align-self: center;
  width: 95%;
  background: #d6d1d5;
  margin-bottom: 20px;
  border-radius: 3px;
}

.container h4 {
  align-self: center;
  color: #736872;
  padding-left: 10px;
  margin: 0;
}

.container p img {
  align-self: center;
}

@media (min-width: 950px) {
  .container {
    width: 80%;
  }
}

.container h2 {
  color: #736872;
  padding: 10px;
  font-family: "McLaren", cursive;
  text-shadow: 2px 2px 2px #a59ca4;
}

.container img {
  border: 2px solid #a5a299;
  width: 99%;
}

.container ul {
  font-size: 1.3rem;
}

.container ul li {
  color: #585058;
  font-family: "ZCOOL XiaoWei", serif;
  margin: 10px;
}
