/* Coolors Exported Palette - coolors.co/fefffe-e9ebf8-b4b8c5-a5a299-8d818c */

/* HSL */
$color1: hsla(120%, 100%, 100%, 1);
$color2: hsla(232%, 52%, 94%, 1);
$color3: hsla(226%, 13%, 74%, 1);
$color4: hsla(45%, 6%, 62%, 1);
$color5: hsla(305%, 5%, 53%, 1);

/* RGB */
$white: rgba(254, 255, 254, 1);
$background1: rgba(233, 235, 248, 1);
$grey: rgba(180, 184, 197, 1);
$color4: rgba(165, 162, 153, 1);
$font: rgba(141, 129, 140, 1);